.wrapper {
  width: 100%;
}

.component {
  display: grid;
  grid-gap: 0.15em;
  width: 100%;
}

.slot {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  user-select: none;
  font-weight: initial;
  background-color: transparent;
  color: transparent;

  &.empty {
    font-weight: bold;
    background-color: #ccc;
    color: #4e4e4e;
  }

  &.filled {
    font-weight: normal;
    background-color: lightgreen;
    color: #052d05;
  }
}
