.component {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-width: 2px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  opacity: 0;
  transition: 200ms ease-in-out;
  
  &[class*="leader"] {
    opacity: 1;
  }

  &.leader-opponent {
    border-top-color: yellow;
  }

  &.leader-player {
    border-bottom-color: yellow;
  }
}